*{
    margin:0;
    padding:0;

}
.main{
    width:100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(bg-pic1.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
    background-attachment: fixed;
}
.nav{
    width:1200px;
    height:75px;
    position: sticky;
    top:0;

    margin:auto;
}
.icon{
    width:200px;
    float:left;
    height:70px;
}
.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    float:left;
    padding-top: 10px;
    padding-left: 20px;
    transition: 1s;
}
.logo:hover{
    font-size: 45px;
    color: #fff;
}
.menu{
    width:400px;
    float:left;
    height:70px;
}
ul{
    float:left;
    display:flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style-type: none;
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition:  0.5s;
}
ul li a:hover{
    color:#ff7200;
    font-size: 20px;
}
.search{
    width:330px;
    float:left;
    margin-left: 260px;
    margin-top: 20px;
    
}
.srch{
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height:40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-right: none;
    font-size: 16px;
    float:left;
    padding:10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    
}
.srch::placeholder{
    color:#ff7200;
    
}
.btn{
    width: 100px;
    height:40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    font-size: 15px;
    color:#fff;
    transition: 0.5s;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    
    

}
.btn:hover{
    background-color: #fff;
    color: black;
}
.btn:focus{
    outline:none;
}
.srch:focus{
    outline:none;
}
.content{
    width:auto;
    height:auto;
    margin:auto;
    color:#fff;
    position: relative;  
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: arial;
    letter-spacing: 1.2px;
    line-height:30px;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 7%;
    letter-spacing:2px;
    padding-bottom: 20px;
}
.content .cn{
    width:160px;
    height:40px;
    background: #ff7200;
    border:none;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size:18px;
    border-radius: 10px;
    cursor:pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}
.cn a{
    text-decoration: none; 
    color:black;
    transition:  background-color 0.3s ease;
}
.cn:hover{
    background-color: #fff;
    color:black;
}
.content span{
    color: #ff7200;
    font-size: 60px;
}
.frm{
    width:250px;
    height:380px;
    background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position:absolute;
    top:-20px;
    left:870px;
    border-radius: 10px;
    padding:25px;
    box-shadow: 0 0 10px rgba(0,0,0)
}
.logintit{
    text-decoration: none !important;
    width:220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding:8px;
    margin-bottom: 10px;
}
.frm input{
    width: 240px;
    height:35px;
    background:transparent;
    border:2px solid #ff7200 ;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-bottom: 10px;
    color: #fff;
    font-size: 15px ;
    letter-spacing: 1px;
    font-family: sans-serif;
}
.frm input:focus{
    outline: none;
}
.frm .link{
    text-align: center;
    text-decoration-style: none;
    margin:40px
}
.frm .link a{
    text-decoration: none;
    color: #ff7200;
    text-align: center;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icon a{
    text-decoration: none;
    color:#fff;

}
.icon ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
}
.icon ion-icon:hover{
    color: #ff7200;
}
.icon{
    width:auto;
}
.firstl{
    padding-left: 25px;
}